<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
  <!-- Basic Page Needs
 ================================================== -->
  <meta charset="utf-8" />
  <title>MEST Visitor's Log</title>
  <meta name="description" content="Visitor\'s Log Page for MEST">
  <meta name="author" content="">
  <!--<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">-->

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

  <!-- CSS
 ================================================== -->

  <link rel="stylesheet" href="assets/css/site.css">
  <link rel="stylesheet" href="assets/css/prettify.css">
  <link rel="stylesheet" href="assets/css/font-awesome.css">
  <!--[if IE 7]>
  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
  <![endif]-->
  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">

  <script type="text/javascript">
    // var _gaq = _gaq || [];
    // _gaq.push(['_setAccount', 'UA-30136587-1']);
    // _gaq.push(['_trackPageview']);
// 
    // (function() {
      // var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      // ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      // var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    // })();
  </script>
</head>
<body data-spy="scroll" data-target=".navbar">

<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #00f;">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"><i class="icon-flag"></i> Meltwater Entrepreneurial School of Technology</a>
      <ul class="nav pull-right">
        <li><a href="#visitors-to-note">Visitors to note</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="mailto:dave@davegandy.com"><i class="icon-envelope"></i> Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="jumbotron">
<div class="container">
  <div class="row">
    <div class="span8">
      <div class="hero-content">
        <h1>Visitor's Log</h1>
        <p>To make your visit more remarkable,<br /> we made it easy just for you.</p>
        <div class="actions">
          <a class="btn btn-large btn-github" href="#visit"
             onClick="_gaq.push(['_trackEvent', 'Outbound Link', 'Download on GitHub']);">
            <i class="icon-signin icon-2x pull-left"></i>
            I have arrived<br>at MEST</a>
          <a class="btn btn-large btn-github" href="#pre-visit" target="_blank"
             onClick="_gaq.push(['_trackEvent', 'Outbound Link', 'View Project on GitHub']);">
            <i class=" icon-comments-alt icon-2x pull-left"></i>
            I will be visiting<br>MEST soon</a>
        </div>
      </div>
    </div>
    <div class="span4">
      <div id="iconCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><div><i class="icon">M<p>Meltwater</p></i></div></div>
          <div class="item"><div><i class="icon">E<p>Entrepreneurial</p></i></div></div>
          <div class="item"><div><i class="icon">S<p>School of</p></i></div></div>
          <div class="item"><div><i class="icon">T<p>Technology</p></i></div></div>
        </div>
        <!-- Carousel nav -->
        <a class="left carousel-control" href="#iconCarousel" data-slide="prev"
           onClick="_gaq.push(['_trackEvent', 'iconCarousel', 'Prev']);">
          <i class="icon-arrow-left"></i></a>
        <a class="right carousel-control" href="#iconCarousel" data-slide="next"
           onClick="_gaq.push(['_trackEvent', 'iconCarousel', 'Next']);">
          <i class="icon-arrow-right"></i></a>
      </div>
    </div>
  </div>

</div>
</div>

<div id="social-buttons">
  <div class="container">
    <span class="like">
      <a class="thumbnail span2" href="#like-on-facebook" target="_blank"><i class="icon-facebook-sign icon-large"></i> Like</a>
    </span>
    <span class="follow">
      <a class="thumbnail span2" href="#follow-on-twitter" target="_blank"><i class="icon-twitter-sign icon-large"></i> Follow</a>
    </span>
    <span class="follow">
      <a class="thumbnail span2" href="#follow-on-g+" target="_blank"><i class="icon-google-plus-sign icon-large"></i> Follow</a>
    </span>
    <span class="follow">
      <a class="thumbnail span2" href="#follow-on-linkedin" target="_blank"><i class="icon-linkedin-sign icon-large"></i> Follow</a>
    </span>
  </div>
</div>

<div class="container">
  <section id="why" class="clearfix">
	  <div class="row">
	    <div class="span4">
	      <h4><i class="icon-bar-chart	"></i> MEST</h4>
	      A two year entrepreneurial training program in business, communication and information technology.
	    </div>
	    <div class="span4">
	      <h4><i class="icon-picture"></i> MINC</h4>
	      Company incubation available to MESTers, to start a globally successful business.
	    </div>
	    <div class="span4">
	      <h4><i class="icon-credit-card"></i> MELTWATER</h4>
	      The brain behind the numerous success.
	    </div>
	  </div>
  </section>
</div>

<footer>
  <div class="container">
    <div class="row">
      <!--<div class="span4">
        <h2>Contact</h2>
        <ul class="icons">
          <li><i class="icon-envelope"></i> Email: <a href="mailto:dave@davegandy.com">Dave Gandy</a></li>
          <li><i class="icon-twitter"></i> Twitter: <a href="https://twitter.com/fortaweso_me/" target="_blank">@FortAweso_me</a></li>
          <li><i class="icon-wrench"></i> Work: Lead Product Designer @ <a href="#kyruus">Kyruus</a></li>
        </ul> -->
      </div>
      <div class="span8">
        <p>
          <center>© 2013 Meltwater Entrepreneurian School of Technology.</center>
      </div>
    </div>
  </div>
</footer>



<script type="text/template" id="modal-template">
  <div class="modal hide fade in">
    <div class="modal-header">
      <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
      <h4><%= iconName %></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="span3 icon6">
          <div class="thumbnail">
            <div><i class="<%= iconName %>"></i></div>
            280px
          </div>
        </div>
        <div class="span3 icon5">
          <div class="thumbnail">
            <div><i class="<%= iconName %>"></i></div>
            140px
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span2 icon4">
          <div class="thumbnail">
            <div><i class="<%= iconName %>"></i></div>
            112px
          </div>
        </div>
        <div class="span2 icon3">
          <div class="thumbnail">
            <div><i class="<%= iconName %>"></i></div>
            56px
          </div>
        </div>
        <div class="span1 icon2">
          <div class="thumbnail">
            <div><i class="<%= iconName %>"></i></div>
            28px
          </div>
        </div>
        <div class="span1 icon1">
          <div class="thumbnail">
            <div><i class="<%= iconName %>"></i></div>
            14px
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script src="assets/js/jquery-1.7.1.min.js"></script>
<script src="assets/js/underscore.min.js"></script>
<script src="assets/js/backbone.min.js"></script>
<script src="assets/js/prettify.min.js"></script>
<script src="assets/js/bootstrap-222.min.js"></script>
<script src="assets/js/index/index.js"></script>

</body>
</html>
