body {
	padding: 0;
	margin: 0;
	background-color:#A1B9FF;
	background-image: url('../img/bg.jpg');
	background-size: 1550px;
	background-position: 0 -350px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #7bd1f4;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #7bd1f4;
}

#mainwrapper {
	width:350px;
	height: 430px;
	background-color: #FFFFFF;
	margin: 10px auto;
	border-radius: 5px;
	padding-top: 5px;
}

#brandname {
	width: 335px;
	height: 50px;
	margin: 5px auto;
	border-radius: 4px;
	/*border: 1px solid blue;*/
}

#brandname span {
	text-align: center;
	color: #054781;
	text-shadow: 1px 1px 1px #ffffff;
	font-size: 16px;
	display: block;
	float: left;
	width:280px;
	margin-top: 5px;
	font-weight:800;
}

#welcome {
	width: 335px;
	height: 20px;
	margin: 5px auto;
	border-radius: 4px;
	/*border: 1px solid blue;*/
	width:*;
	background-color: #ADEBFF;
	padding: 2px 0;
}

#welcome span, #about_you span, #about_visit span {
	text-align: center;
	display: block;
	width:*;
	color: blue;
	/*#7bd1f4*/
}

#lg {
	width: 40px;
	height: 40px;
	border-radius: 4px;
	/*border: 1px solid blue;*/
	margin: 4px;
	float: left;
	background-image: url('../img/mestlogo.jpg');
	/*background-repeat:no-repeat;*/
	/*background-attachment:fixed;*/
	background-size:40px 40px;
}

#about_you {
	width: 335px;
	min-height: 20px;
	margin: 5px auto;
	border-radius: 4px;
	/*border: 1px solid blue;*/
}

#about_visit {
	width: 335px;
	min-height: 20px;
	margin: 5px auto;
	border-radius: 4px;
	/*border: 1px solid blue;*/
}


#submitter {
	width: 335px;
	min-height: 20px;
	margin: 5px auto;
	border-radius: 4px;
	/*border: 1px solid blue;*/
	text-align: center;
	padding: 5px 0;
	background-color: #ADEBFF;
}

#ft {
	width: 335px;
	height: 20px;
	margin: 13px auto 20px auto;
	border-radius: 4px;
	/*border: 1px solid blue;*/
	font-size: 10px;
	text-align: center;
	color: #054781;
}

#ft1 {
	width: 335px;
	height: 20px;
	margin: 95px auto 20px auto;
	border-radius: 4px;
	/*border: 1px solid blue;*/
	font-size: 10px;
	text-align: center;
	color: #054781;
}

#or {
	float: left;
	width: 30px;
	height: 120px;
	/*border: 1px solid blue;*/
}

#social {
	float: left;
	width: 60px;
	height: 120px;
	/*border: 1px solid blue;*/
}

.field {
	width:*;
	height: inherit;
	margin: 0 auto;
	text-align: center;
	
}

.field_short {
	float: left !important;
	width:226px;
	height: inherit;
	margin: 0;
	text-align: center;
}

.soc_icon {
	float: right;
	width: 48px;
	height: 24px;
	border-radius: 4px;
	border: 1px solid transparent;
	margin: 1px 15px 4px 0;
}

.field input {
	width: 300px;
	margin: 5px auto;
	border: 1px solid #7bd1f4;
	color: #054781;
	text-align: center;
}

.field_short input {
	/*width: 300px;*/
	margin: 5px auto;
	border: 1px solid #7bd1f4;
	color: #054781;
	text-align: center;
}

#about_visit, #about_you {
	margin-top: 13px;
	clear: both;
}

#sub {
	  background-color: hsl(192, 100%, 38%) !important;
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#28d4ff", endColorstr="#009bc1");
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#28d4ff), to(#009bc1));
	  background-image: -moz-linear-gradient(top, #28d4ff, #009bc1);
	  background-image: -ms-linear-gradient(top, #28d4ff, #009bc1);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #28d4ff), color-stop(100%, #009bc1));
	  background-image: -webkit-linear-gradient(top, #28d4ff, #009bc1);
	  background-image: -o-linear-gradient(top, #28d4ff, #009bc1);
	  background-image: linear-gradient(#28d4ff, #009bc1);
	  border-color: #009bc1 #009bc1 hsl(192, 100%, 33%);
	  color: #fff !important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	  -webkit-font-smoothing: antialiased;
	  width: 80px;
	  border-radius: 3px;
	  height: 28px;
}

#clr {
	  background-color: hsl(48, 29%, 68%) !important;
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0eee4", endColorstr="#c5bb95");
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#f0eee4), to(#c5bb95));
	  background-image: -moz-linear-gradient(top, #f0eee4, #c5bb95);
	  background-image: -ms-linear-gradient(top, #f0eee4, #c5bb95);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0eee4), color-stop(100%, #c5bb95));
	  background-image: -webkit-linear-gradient(top, #f0eee4, #c5bb95);
	  background-image: -o-linear-gradient(top, #f0eee4, #c5bb95);
	  background-image: linear-gradient(#f0eee4, #c5bb95);
	  border-color: #c5bb95 #c5bb95 hsl(48, 29%, 62%);
	  color: #333 !important;
	  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39);
	  -webkit-font-smoothing: antialiased;
	  width: 80px;
	  border-radius: 4px;
	  height: 28px;
	  margin-left: 8px !important;
}

#thanks span {
	width: 290px;
	height: inherit;
	margin: 45px auto;
	border-radius: 4px;
	/*border: 1px solid blue;*/
	width:*;
	background-color: #ADEBFF;
	padding: 15px 7px;
	text-align: center;
	display: block;
	font-size: 18px;
	color: #054781;
}

#links span {
	width: 290px;
	height: inherit;
	margin: 10px auto;
	border-radius: 4px;
	width:*;
	background-color: #ADEBFF;
	padding: 5px 7px;
	text-align: center;
	display: block;
	font-size: 15px;
	color: #054781;
	cursor: pointer;
}

.myinputs_short {
	width: 170px !important;
}

#social .soc_icon i {
	margin: 3px 0 0 18px;
	color: #7bd1f4;
	font-size: 25px;
	cursor: pointer;
}


#mybar {
	width:1px;
	height: 46px;
	border: 1px solid #7bd1f4;
	margin: 0 0 0 12px;
	background-color: #7bd1f4;
}

#or_text {
	font-size: 18px;
	padding: 2px 0;
	color: blue;
}
