#visitors_data_controls {
	padding: 10px 20px 5px;
	border: 0;
	margin: 0;
	border-bottom: 1px solid #e5e5e5;
}

#visitors_data_controls div {
	display: inline-block;
	margin-left: 10px;
	float: right;
}

#rows1 {
	width: 50px;
}

#select1 {
	width: 70px;
}
